[submodule "target/tidy_html"]
	path = target/tidy_html
	url = https://github.com/f34nk/tidy_html.git
[submodule "target/tidy-html5"]
	path = target/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "target/map"]
	path = target/map
	url = https://github.com/rxi/map.git
[submodule "target/dmt"]
	path = target/dmt
	url = https://github.com/rxi/dmt.git
